header h1 {
  margin: 0;
}
.mui-appbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mui-btn {
  margin: 8px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
